<a href="https://colab.research.google.com/github/KomalKhalane25/Python_Practices_Projects/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use cases:
Usecase 1 to Usecase 7 (about csv)

**Usecase-1** Load all three csv datasets in Pandas Data frames and display
first 5 records.

In [1]:
import pandas as pd

In [5]:
data1 = pd.read_csv('/content/customers.csv')
data2 = pd.read_csv('/content/products.csv')
data3 = pd.read_csv('/content/transactions.csv')

In [10]:
data1.head(5)

,1,Leslie,Bass,F,27,B,37307,endslost@everyma1l.org,Gibson,Dellwood,Y,2017-09-21 12:38:22,2017-10-18 12:12:28
0,2,Judy,Burks,M,53,S,84759,rfleming@hotma1l.co.uk,Suwanee,Trabue,Y,2017-05-22 05:29:22,2017-10-18 12:12:28
1,3,Marsha,Doyle,F,48,B,80932,arethe53@ma1lbox.net,Perry,Moxadarla,Y,2017-09-03 12:11:29,2017-10-18 12:12:28
2,4,Alexis,Battle,M,27,S,71701,ofcame@ma1lbox.org,Morven,Dennis,Y,2017-02-16 04:05:35,2017-10-18 12:12:28
3,5,Martha,Combs,F,49,B,83947,camedied@everyma1l.us,Ocilla,Greenwood,Y,2017-05-15 07:34:35,2017-10-18 12:12:28
4,6,Marilyn,Nguyen,M,57,S,72274,discoveredlist82@gma1l.org,Byron,Wetsell,Y,2017-05-12 06:18:16,2017-10-18 12:12:28

In [11]:
data2.head(5)

   1  Product1  pgqorighfa  Y  2017-04-03 07:58:55  2017-10-18 12:12:38
0  2  Product2  lmndaaweth  Y  2017-09-21 12:38:31  2017-10-18 12:12:38
1  3  Product3  urifeubrhh  Y  2017-09-08 10:32:12  2017-10-18 12:12:38
2  4  Product4  rlpcjxfarp  Y  2017-05-22 05:29:27  2017-10-18 12:12:38
3  5  Product5  hzcpozsgfc  Y  2017-02-02 08:40:29  2017-10-18 12:12:38
4  6  Product6  ezhxpqxqdg  Y  2017-01-13 12:47:01  2017-10-18 12:12:38

In [12]:
data3.head(5)

   1  2017-10-18 12:31:45  923  2559  376  Card
0  2  2017-10-18 12:31:45  219  1706  151  Card
1  3  2017-10-18 12:31:45  927  3462  707  Cash
2  4  2017-10-18 12:31:45  806   865  539  Card
3  5  2017-10-18 12:31:45  958  2494   25  Card
4  6  2017-10-18 12:31:45   37  3782  603  Cash

**Usecase-2** Display only those customers from CSV_s1, who purchased more than 3 products

In [16]:
data2.columns

Index(['1', 'Product1', 'pgqorighfa', 'Y', '2017-04-03 07:58:55',
       '2017-10-18 12:12:38'],
      dtype='object')

In [17]:
data1.columns

Index(['1', 'Leslie', 'Bass', 'F', '27', 'B', '37307',
       'endslost@everyma1l.org', 'Gibson', 'Dellwood', 'Y',
       '2017-09-21 12:38:22', '2017-10-18 12:12:28'],
      dtype='object')

In [18]:
data1.rename(columns={'1':'Customer_ID'},inplace=True)

In [19]:
data1.columns

Index(['Customer_ID', 'Leslie', 'Bass', 'F', '27', 'B', '37307',
       'endslost@everyma1l.org', 'Gibson', 'Dellwood', 'Y',
       '2017-09-21 12:38:22', '2017-10-18 12:12:28'],
      dtype='object')

In [20]:
data2.rename(columns={'1':'Customer_ID'},inplace=True)

In [21]:
data2.columns

Index(['Customer_ID', 'Product1', 'pgqorighfa', 'Y', '2017-04-03 07:58:55',
       '2017-10-18 12:12:38'],
      dtype='object')

In [22]:
purchase_count = data2.groupby('Customer_ID').size()

In [23]:
purchase_count

Customer_ID
2       1
3       1
4       1
5       1
6       1
       ..
996     1
997     1
998     1
999     1
1000    1
Length: 999, dtype: int64

In [27]:
customers_more_than_3 = purchase_count[purchase_count > 3].index

In [32]:
result = data1[data1["Customer_ID"].isin(customers_more_than_3)]

In [34]:
print(result)

Empty DataFrame
Columns: [Customer_ID, Leslie, Bass, F, 27, B, 37307, endslost@everyma1l.org, Gibson, Dellwood, Y, 2017-09-21 12:38:22, 2017-10-18 12:12:28]
Index: []

In [35]:
data1.columns = ["Customer_ID"] + list(data1.columns[1:])
data2.columns = ["Customer_ID"] + list(data2.columns[1:])

In [36]:
print(data1.head())

   Customer_ID   Leslie    Bass  F  27  B  37307      endslost@everyma1l.org  \
0            2     Judy   Burks  M  53  S  84759      rfleming@hotma1l.co.uk
1            3   Marsha   Doyle  F  48  B  80932        arethe53@ma1lbox.net
2            4   Alexis  Battle  M  27  S  71701          ofcame@ma1lbox.org
3            5   Martha   Combs  F  49  B  83947       camedied@everyma1l.us
4            6  Marilyn  Nguyen  M  57  S  72274  discoveredlist82@gma1l.org

    Gibson   Dellwood  Y  2017-09-21 12:38:22  2017-10-18 12:12:28
0  Suwanee     Trabue  Y  2017-05-22 05:29:22  2017-10-18 12:12:28
1    Perry  Moxadarla  Y  2017-09-03 12:11:29  2017-10-18 12:12:28
2   Morven     Dennis  Y  2017-02-16 04:05:35  2017-10-18 12:12:28
3   Ocilla  Greenwood  Y  2017-05-15 07:34:35  2017-10-18 12:12:28
4    Byron    Wetsell  Y  2017-05-12 06:18:16  2017-10-18 12:12:28

In [37]:
data1["Customer_ID"].isin(customers_more_than_3)

0      False
1      False
2      False
3      False
4      False
       ...
994    False
995    False
996    False
997    False
998    False
Name: Customer_ID, Length: 999, dtype: bool

In [38]:
purchase_count = data2.groupby("Customer_ID").size()
customers_more_than_3 = purchase_count[purchase_count > 3].index
result = data1[data1["Customer_ID"].isin(customers_more_than_3)]

In [39]:
print(result)

Empty DataFrame
Columns: [Customer_ID, Leslie, Bass, F, 27, B, 37307, endslost@everyma1l.org, Gibson, Dellwood, Y, 2017-09-21 12:38:22, 2017-10-18 12:12:28]
Index: []

In [40]:
purchase_count = data2.groupby("Customer_ID").size()
print(purchase_count)

Customer_ID
2       1
3       1
4       1
5       1
6       1
       ..
996     1
997     1
998     1
999     1
1000    1
Length: 999, dtype: int64